.btn {
  border: 1px solid $btnBorderColor;
  @include border-radius(em(3));
  padding: em(3, 15) em(8, 15) em(5, 15);
  font-size: em(15);
  cursor: pointer;

  @include transition(all, .1s ease-out);

  &:hover {
	  border-color: darken($btnBorderColor, 20%);
	  @include transition(all, .1s ease-in);
  }

  .ico, span {
	  display: inline-block;
	  vertical-align: middle;
  }
}

a.btn {
  display: block;
  color: $baseColor;
}